@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;

    --text-shadow: 0 5px 25px rgba(0,0,0,0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

    --scroll-bar-color:#fff ;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;

}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 11px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

section.up {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 90%;
    left: -3%;
    display: flex;
    justify-content: right;  
    font-size: 3em;  
    color: #fff; 
    text-decoration: none;

}

section.up a{
    transition: 0.3s;
    opacity: 0.3;
}

section.up a:hover {
    font-size: 108%;
    opacity: 1;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
}

section.slider {
    color: var(--white-color);
    background: var(--section-bg-color);
}

section.about {
    color: var(--white-color);
    background: var(--section-bg-color);
    padding: 35px 200px;
    transform: 0.3s ease;
}

.hero-initial {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 130px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 0.4s;

}

nav ul li a:hover {
    font-size: 20px;
    text-shadow: 2px 2px orange;
}

.content {
    text-align: center;
}
.content h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 530;
    transition: 0.5s;
}
.content h1:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.content a.initial {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 2px solid #fff;
    padding: 2px 10px;
    border-radius: 70px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.content a.initial i {
    font-size: 1.0em;
    
}
.content a.initial:hover  {
        transform: scale(1.1);
    
}


.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}

.slider {
    min-height: 100vh;
}



.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;  

}

.bg-slider .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.3s ease;
}

.swiper-slide .text-content .title {
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}
.swiper-slide-active .text-content .title{
     transform: translateY(0);
     opacity: 1;
     transition: 1s ease;
     transition-delay: 0.3s;
     transition-property: transform, opacity;
}

.swiper-slide .text-content .title span {
    font-size: 0.3em;
    font-weight: 300;
}

.swiper-slide .text-content p {
    max-width: 700px;
    background: rgba(255, 2555, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 2555, 255, 0.1);
    border-right: 1px solid rgba(255, 2555, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn{
    border:none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i{
    font-size: 1.6em;
    transition: 0.3s ease;
}
.swiper-slide .text-content .read-btn:hover i{
    transform: translateX(5px);
}

.bg-slider-thumbs {
    z-index: 777;
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease; 
}

.swiper-wrapper.thumbs-container {
    width: 12.5%;
    left: 47%;
}

.thumbs-container {
    background: rgba(255, 2555, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 2555, 255, 0.1);
    border-right: 1px solid rgba(255, 2555, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.thumbs-container img {
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active {
    border: 1px solid var(--white-color);
}

.about h2 {
    font-size: 3em;
    font-weight: 400;
}

.about h2 span.unofficial {
    font-size:xx-small;
    font-weight:100;
}

@keyframes animated_text {
    0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

.about h2 span.name {
    background: linear-gradient(-45deg, #6355a4, #ff00ff, #db7093, #c32148);
	background-size: 300%;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 4vw;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

.about p {
    margin: 25px 0;
}

.about span.PleadMyCase {
    font-size:xx-small;
    font-weight: 200;
    padding-left: 2%;
}